@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  font-size: 18px;
}

@layer base {
  body {
    @apply bg-zinc-950 text-white;
  }

  :not(.dark) body {
    @apply bg-white text-zinc-950;
  }
}

.noise {
  background-image: radial-gradient(
      circle at 20% 10%,
      rgba(255, 255, 255, 0.08),
      transparent 35%
    ),
    radial-gradient(
      circle at 80% 15%,
      rgba(120, 119, 198, 0.18),
      transparent 35%
    ),
    radial-gradient(circle at 50% 80%, rgba(14, 165, 233, 0.1), transparent 40%),
    radial-gradient(circle at 10% 90%, rgba(34, 197, 94, 0.1), transparent 35%);
}

:not(.dark) .noise {
  background-image: radial-gradient(
      circle at 20% 10%,
      rgba(120, 119, 198, 0.12),
      transparent 35%
    ),
    radial-gradient(
      circle at 80% 15%,
      rgba(120, 119, 198, 0.2),
      transparent 35%
    ),
    radial-gradient(
      circle at 50% 80%,
      rgba(14, 165, 233, 0.15),
      transparent 40%
    ),
    radial-gradient(circle at 10% 90%, rgba(34, 197, 94, 0.12), transparent 35%);
}

.codeblock {
  background: rgb(43, 43, 43);
}

.language-bash {
    @apply text-[10px] sm:text-[12px] md:text-[14px];
}